# root ignores
.DS_Store
*.pem

# frontend workspace ignores
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build
/frontend/coverage
/frontend/.pnp
/frontend/pnpm-lock.yaml
/frontend/yarn.lock
/frontend/npm-debug.log*
frontend/.pnpm-debug.log*

# env files
/frontend/.env*
